<?xml version="1.0" encoding="UTF-8" ?> 
<plist>
    <dict>
        <key>Studio:</key> 
        <string>lsy Studio</string>
        <key>Director:</key> 
        <string>lsy</string> 
        <key>Program:</key> 
        <string>lsy</string>
        <key>Art:</key> 
        <string>lsy</string>
        <key>Adoption:</key>
        <string>lsy</string>
    </dict>
</plist>